.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 20;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: fit-content;
}

h1 {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.coordinates {
  margin-top: 20px;
}

.weather-summary {
  margin-top: 20px;
}

.weather-summary h2 {
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 2px solid #3A4F35;
}

th, td {
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #3A4F35;
  color: #B9D7B2;
  border-color: #B9D7B2;
}

.search-history {
  margin-top: 20px;
}

.search-history h2 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;
  min-height: fit-content;
  margin-bottom: 20px;
}

.carousel-slide {
  flex: 0 0 auto;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 200px; /* Set a fixed height for each carousel slide */
}

.carousel-content {
  display: grid;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%; /* Expand the carousel content to fill the slide height */
  box-sizing: border-box; /* Include padding in the height calculation */
  border: 2px solid #3A4F35;
  border-radius: 5px;
}

.carousel-day {
  font-weight: bold;
}

.carousel-icon img {
  width: 50px;
  height: 50px;
}

.carousel-description {
  margin-top: 10px;
}

.carousel-button {
  position: relative;
  background-color: #B9D7B2;
  border: none;
  background-color: aliceblue;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  opacity: 1;
  color: #3A4F35;
}

.next-button {
  height: 10%;
}

.prev-button {
  height: 10%;
  margin-right: 20px;
}
